body {
    margin

}
body{
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace
}

h1 {
    margin-top: 0%;
    margin: 0%;
    text-transform: capitalize;
    font-weight: bold;
    color: whitesmoke;
    font-size: 300%;
   
    text-indent: 15%;
    position: relative;

    background-color: black;

font-family: Arial, Helvetica, sans-serif;
font: bold;

border-top: 0px;
}

.paragraph {
    border: 3px solid black;
    padding-left: 10%;
    padding-right: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 15px;
    line-height: 200%;

}

div {
    border: 1px thick black;
  
}

html,body{
    margin:0;
    height:100%;
}
img{
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}



h2 {
font-family: 'Courier New', Courier, monospace;
font-size: 35px;
line-height: 100%;
padding-right: 10%;



}

    
  
