body {
    margin: 0%
}
body{
    background-color: #F7D705;
}

h1 {

    margin-top: 0px;

    font-weight: bold;
    color: whitesmoke;
    font-size: 50px;

    background-color: black;

font-family: Arial, Helvetica, sans-serif;
font: bold;

border-top: 10px;


body {

    font-family: 'Courier New', Courier, monospace
}
