body {
    margin: 0%
}
body{
    background-color: #F7D705;
}




h1 {

    margin-top: 0px;


    color: whitesmoke;

    background-color: black;

font-family: Arial, Helvetica, sans-serif;
font: bold;


body {

    font-family: 'Courier New', Courier, monospace
}
