body {
    margin: 0%




}




h1 {
    color: whitesmoke;

    background-color: black;

font-family: Arial, Helvetica, sans-serif;
font: bold;


    text-align: left;


p.date {
    text-align: left: ;;
}

p.main {
    text-align: justify;

margin-top: 0px;
}

body {

    font-family: 'Courier New', Courier, monospace
}
